.project-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column width as needed */
    gap: 20px;
}

.project-card {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-details {
    padding: 20px;
}

.project-info {
    margin-bottom: 10px;
}

.field {
    margin-top: 20px;
}

.input-label {
    margin-bottom: 10px;
    font-weight: bold;
}
